/* RESETS */
* {
    margin: 0;
    padding: 0;
}

/* GlOBAL CLASSES */

.text-left {
    text-align: left;
    color: white;
    font-family: sans-serif;
}

.text-center {
    text-align: center;
    color: white;
    font-family: sans-serif;
}

/* CUSTOM STYLES */

.top-bar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgb(61, 61, 61);
    padding: 15px;
}

.top-bar h1 {

    font-size: 50px;
    padding-right: 20px;
}

.top-bar p {

    font-size: 30px;
    padding-right: 20px;
}

.top-bar ul {
    list-style-type: none;
    text-align: right;
}

.top-bar ul li {
    display: inline;
    padding-left: 20px;
}

.top-bar ul li.first-link {
    padding: 0;
}

.top-bar ul li a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 30px;
}

.top-bar ul li a:hover {
    color: rgb(254,204,2);
}

body {
    height: 1000px;
    width: auto;
    margin-bottom: 25px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.123)), url("../images/the-viking-feast.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background {
    opacity: 0.5;
}

h2 {

    font-size: 20px;
    padding: 20px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexbox-item-1 {
    width: auto;
    margin: 50px;
    padding: 5px;
    background-color: rgba(88, 88, 88, 0.877);
}


.flexbox-item-2 {
    width: 500px;
    margin: 50px;
    padding: 15px;
    background-color: rgba(88, 88, 88, 0.877);
}

.flexbox-item-3 {
    width: auto;
    margin: 0;
    padding: 5px;
    background-color: rgba(88, 88, 88, 0.877);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%; 
    font-size: 13px;
    padding: 20px;
}





/* MEDIA QUERIES (responsive design)*/

@media (max-width: 750px), (max-height: 500px) {
    
    .top-bar h1 {
        font-size: 26.6px;
    }
    
    .top-bar ul li a, .top-bar p {
        font-size: 16px;
    }
}



